/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* General text styling */

html {
  font-size: 10px;
}

body {
  line-height: 75%;
  letter-spacing: .1rem;
  word-spacing: .1rem;
}

h1 h2 {
letter-spacing: .2rem;
}

section > p {
  text-indent: 1.25rem;
}

/* Links */

/* Lists */

/* Nav Menu */

nav li {
  display: flex;
  align-items: center;
  text-decoration: none;
  border: solid;
  padding: 20px;
  flex-direction: column;
  margin-top: 1rem;
}

nav a {
  text-decoration: none;
 }

 h1 {
  text-align: center;
 }